/*头部样式*/
.w1200 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.j-header{
    /* overflow: hidden; */
    /* position: relative; */
    height: 100px;
}
.header{
    width: 1200px;
    height:100px;
    margin: 0 auto;
}
 .uc:hover,.header h1 a ,.index-header .header-phone{
    background: url(../images/icon_header.png) no-repeat;
}
.index-header .header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 8;
    margin-left: -600px;
    border-bottom: none;
    box-shadow: none;
    /*background-color: transparent;*/
}
.header h1{
    float: left;
}
.header .header_logo{
    display: block;
    width: 160px;
    height: 80px;
    text-indent: -9999px;
    background-position: -13px 10px;
}
.header .guquan{
    color: #7F7F7F;
    margin-top: 44px;
}
.uc,.index-header .header-phone {
    font-family: arial,helvetica,sans-serif;
    background-position: 45px -73px;
}

.header-phone {
    float: right;
    font-size: 24px;
    line-height: 32px;
    padding: 0px 0 0 -12px;
    margin-top: 31px;
    color: #22ac38;
    text-align: right;
    width: 236px;
    font-weight: 700;
}
.uc {
    float: right;
    height: 24px;
    cursor: pointer;
    margin-right: 0px;
    margin-top: 35px;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    background: url(../images/icon_header.png) no-repeat;
    background-position: -4px -145px;
    position: relative;
}
.uc:hover {
    color: #495056;
    background-position: -5px -110px;
}
.uc-app {
    position: absolute;
    top: 30px;
    right: -20px;
    display: none;
    width: 122px;
    height: auto;
    border: 1px solid #e6e6e6;
    background: #fff;
    z-index: 9999;
}
.header .uc-app {
    box-shadow: 0 2px 5px 0 #e6e6e6;
}
.uc:hover .uc-app {
    display: block;
    padding: 11px 0;
    z-index: 1000000000000;
}
.uc-app i {
    position: absolute;
    top: -7px;
    right: 0;
    display: block;
    width: 124px;
    height: 7px;
    background: url(../images/header_denglu.png) no-repeat 85px -20px;
}
.uc:hover .uc-app a {
    display: block;
    font-size: 14px;
    color: #495056;
    line-height: 32px;
    text-align: center;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.uc:hover .uc-app a:hover{
    color: #22ac38;
}
.nav-list {
    float: right;
    /* width: 700px; */
    height: 42px;
    padding-top: 28px;
}
.nav-list a {
    float: right;
    line-height: 40px;
    padding-bottom: 5px;
    margin: 0 0px;
    padding: 0 13px;
    font-size: 16px;
}

.header .nav-list a.active, .header .nav-list a.active:hover {
    color: #333;
    text-decoration: none;
    border-bottom: 4px solid #22ac38;
}
p .color_shine
{
    font-size: 3em;
    margin: 0 auto;
    padding:20px 0;
}
/*头部样式结束*/
/*轮播部分start*/
.index-slide {
    /* overflow: hidden; */
    /* position: relative; */
}
.index-slide, .index-slide li {
    width: 100%;
    height: 500px;
    z-index: 0;
    overflow:  hidden;
}
.index-slide a {
    display: block;
    width: 100%;
    max-height: 500px;
}
.swiper-slide a img{
    width: 100%;
    height: 500px;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 75px;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active{
    background: white;
}
/*.index-slide li a img {*/
    /*width: auto;*/
    /*height: 500px;*/
    /*left: 50%;*/
    /*margin-left: -960px;*/
    /*position: absolute;*/
/*}*/
/*轮播部分结束*/

/*社保计算器部分*/
.index-entry-Calculator {
    position: relative;
    z-index: 100;
    /* height: 265px; */
    margin-top: -64px;
    font-size: 14px;
    padding-bottom:  10px;
    background-color: #fff;
    border: 1px solid #dfe3e3;
    border-top: 0;
    box-shadow: 0 1px 4px 0 rgba(88,100,117,.2);
    border-radius: 6px;
    overflow: hidden;
}
.entry-content-shebao,.entry-content-gongjijin{
    width:760px;
    overflow: hidden;
    display: none;
}
.entry-content-show{
    display: block;
}
.entry-content-left{
    padding: 18px 0 18px  30px;
    overflow: hidden;
    width: 245px;
}
.entry-Calculator {
    /*width: 728px;*/
}
.entry-title {
    padding-top: 24px;
    padding-left: 32px;
    z-index: 1000000000;
}
.entry-title a {
    color: #495056;
    margin-right: 15px;
    line-height: 45px;
    font-size: 24px;
}
.entry-title .active{
    color: #22ac38;
}
.select_box{
    margin-bottom: 13px;
}
.select_box span{
    display: inline-block;
    width: 80px;
    font-size:16px;
    line-height: 30px;
    text-align: left;
}
.select_box select{
    width: 157px;
    height: 30px;
    border-radius: 5px;
    color: #a9a9a9;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border-color: #22ac38;
}
.select_box input{
    width: 151px;
    padding: 0 3px;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    background: #F3F3F3;
    border: 1px solid #D9D9D9;
}
.jisuan ,.chongzhi{
    width: 110px;
    height: 33px;
    line-height: 33px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.jisuan{
    background-image: url("../images/bg_btn.png");
    color: white;
    margin-right: 20px;
}
.jisuan:hover{

}
.chongzhi{
    background: white;
    color: #22ac38;
    border: 1px solid #e6e6e6;
}

.s-b-detail {
display: none;
}
.s-b-detail table {
    width: 100%;
    background: #e6e6e6;
    /* width: 937px; */
    /* margin-left: 120px; */
}
.border_left_wh{
    border-right: 1px solid white;
}
.s-b-detail table .tr-bg1 {
    background-color: #23C36B;
}
.s-b-detail table .tr-bg {
    background-color: #23C36B;
}
.s-b-detail td {
    padding: 6px;
    height: 20px;
    border: 1px solid white;
    text-align: center;
}

.s-b-detail table .td-r-border {
    /* border-right: 1px solid #23C36B; */
}
.green {
    color: #23C36B !important;
}
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 30px 20px;
    background: white;
    max-width: 630px;
    text-align: center;
    border-radius: 20px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.md-modal h1{
    margin-bottom: 10px;
}
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: #e6e6e6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show{
    visibility: visible;
}
.md-bg-show{
    opacity: 0.8;
    visibility: visible;
}
.close_xiangxi{
    text-align: center;
    font-size:16px;
    margin: 20px auto;
    background: #22ac38;
    border-radius: 5px;
    color: white;
    width: 60px;
    cursor: pointer;
}
.table_much{
    width: 440px;
    height: 160px;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #EFEFF1;
}
.table_much thead tr th{
    height: 50px;
    background: #E1F3E3;
    font-weight: normal;
}
.table_much .tr_much td{
    height: 75px;
    text-align: center;
    color:#999999 ;
    font-size: 16px;
    border: 1px solid #EFEFF1;
}
.table_much .tr_mingxi{
    text-align: right;
}
.mingxi{
    color: #22ac38;
    cursor: pointer;
}
.entry-sellcar {
    width: 370px;
    padding-right: 48px;
}
.entry-sellcar .entry-title {
    padding-left: 0;
    padding-bottom: 20px;
    height: 45px;
    overflow: hidden;
}
.entry-title_r{
    float: left;
    font-size: 20px;
    color: #495056;
    line-height: 45px;
}
.sellcar-show {
    position: relative;
    font-size: 16px;
    color: #a8abae;
    text-align: right;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
}
.sellcar-show .amount span {
    font-family: Tahoma;
    font-size: 24px;
    color: #3cb46d;
}
/*数字滚动插件的CSS可调整样式*/
.mt-number-animate{font-family: '微软雅黑';line-height: 23px;height: 23px;/*设置数字显示高度*/font-size: 25px;/*设置数字大小*/overflow: hidden;display: inline-block;position: relative;}
.mt-number-animate .mt-number-animate-dot{ width: 15px;/*设置分割符宽度*/ line-height: 40px; float: left; text-align: center;}
.mt-number-animate .mt-number-animate-dom{width: 16px;/*设置单个数字宽度*/text-align: center;float: left;position: relative;top: 0;}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}

.sellcar-phone {
    position: relative;
    width: 370px;
    overflow: hidden;
}
.phone-input {
    float: left;
    width: 329px;
    height: 18px;
    line-height: 18px;
    padding: 13px 10px 14px 30px;
    font-size: 18px;
    color: #495056;
    border: 1px solid #f5f5f7;
    border-radius: 5px;
    background-color: #f5f5f7;
    margin-bottom: 15px;
}
.phone-error {
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 46px;
    font-size: 16px;
    color: #f76367;
}
.button {
    position: relative;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-family: 'brandon-grotesque', sans-serif;
    text-transform: uppercase;
    min-width: 370px;
    height:  50px;
}
.button:hover .border {
    box-shadow: 0px 0px 10px 0px white;
}
.button:hover .border .left-plane, .button:hover .border .right-plane {
    transform: translateX(0%);
}

.button .border {
    border: 1px solid white;
    /* transform: skewX(-20deg); */
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-image: url("../images/bg_btn.png");
    transition: .10s ease-out;
}
.button .border .left-plane, .button .border .right-plane {
    position: absolute;
    background: #22ac38;
    height: 50px;
    width: 185px;
    color: white;
    transition: .15s ease-out;
}
.button .border .left-plane {
    left: 0;
    transform: translateX(-100%);
}
.button .border .right-plane {
    right: 0;
    transform: translateX(100%);
}
.button .text {
    text-align: center;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    border-radius: 5px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-out;
    line-height: 50px;
    font-size: 16px;
}
.phone-btn-sell {
    float: left;
    width: 370px;
    height: 50px;
    margin-right: 11px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #23C36B;
    transition: .10s ease-out;
}
.work_time{
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
}
.work_time span{

    color: #495056;
}


/*数据展示模块*/
.module1{
    height: 390px;
    margin-top: 30px;
}
.icon_box{
    overflow: hidden;
    float: left;
}
.icon_box .icon {
    width: 400px;
    margin: 20px 0;
    text-align: center;
    box-sizing: border-box;
    color: #747474;
}
.module_img{
    width: 136px;
    height: 136px;
    background: url("../images/shuju_icon.png") no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
}
.module_img1{
    background-position: -7px -6px;
}
.module_img2{
    background-position: -152px -6px;
}
.module_img3{
    background-position: -300px -6px;
}

.icon_box .icon span {
    display: block;
    margin: 30px 0 15px 0;
    font-size: 22px;
}
.icon_box .icon span em{
    font-size: 46px;
    color: #43B555;
}
.icon_box .icon .span2 {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    width: 350px;
    margin:0 auto;
    text-align: left;
}
/*缴纳社保s*/
.module1-shebao{
    margin-bottom: 80px;
    overflow: hidden;
}
.shebao-nav{
    font-size: 20px;
    text-align: left;
    margin-bottom: 35px;
}
.shebao-nav span{
    display: inline-block;
    width: 60px;
    height: 28px;
    background-image:url("../images/circle_1.png");
    color: white;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}
.shebao-nav .circle-2{
    width: 60px;
    height: 28px;
    background-image:url("../images/circle_2.png");
}
.shebao-nav .circle-3{
    width: 60px;
    height: 28px;
    background-image:url("../images/circle_3.png");
}
.taocan-box{
    height: 302px;
}
.taocan-box li{
    width: 270px;
    height: 300px;
    font-size: 16px;
    color: #666666;
    border-radius: 5px;
    float: left;
    border: 1px solid #EDEDED;
    margin-right: 35px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)
}
.taocan-box li:hover{
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.15);
}
.taocan-title{
    height: 100px;
}
.taocan-title img{
    /* height: 100px; */
    /* width: 100%; */
}
.taocan-xx{
    line-height:50px;
    padding-left: 18px;
}
.HOT{
    display: inline-block;
    border:2px solid red;
    border-radius: 2px;
    height: 24px;
    width:40px;
    margin-left: 10px;
    text-align: center;
    line-height:  24px;
    color: red;
    animation:pulse 1s infinite;
    -webkit-animation:pulse 0.5s infinite; /* Safari 和 Chrome */
}
.btn-box{
    text-align: center;
    margin-top:40px;
    margin-bottom: 10px;
}
.buy ,.free-btn,.qiye_liaojie{
    width: 210px;
    height: 44px;
    margin: 0 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #CCCCCC;
    line-height: 44px;
    background: white;
    color: #24C26D;
}
.buy{
    background-image: url(../images/bg_btn.png);
    color: white;
}
.free-btn{

}
/*缴纳社保e*/
/*企业定制服务s*/
.qiye_title_none{
    display: none;
}
.qiye-show{
    display: block;
}
.qiye_btn{
    width: 347px;
    height: 80px;
    /* border-radius: 5px; */
    line-height: 80px;
    font-size: 26px;
    color: #A2A4A3;
    text-align: center;
    float: left;
    cursor: pointer;
    background-image: url("../images/circle_clear.png");
}
.qiye_box .active{
    background-image: url("../images/circle_sele.png");
    color: white;
}
.qiye-first-title{
    font-weight: bold;
    font-size: 24px;
    color: #24C26D;
    margin: 50px 0;
}
.qiye-scend-title{
    font-size: 18px;
    color: #727272;
    margin-bottom: 25px;
}
.qiye-content .qiye_li div:first-child{
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    background: #21AA38;
}
.qiye-content .qiye_li{
    font-size: 13px;
    color: #A7A7A7;
    line-height:30px ;
}
.qiye_liaojie{
    cursor: pointer;
    background-image: url(../images/bg_btn.png);
    color: white;
    margin-bottom: 20px;
    margin-top: 25px;
    border: none;
}

.qiye-taodian{
    width: 380px;
    padding: 0 10px;
    /* margin-right:  10px; */
    border-radius: 5px;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.15);
    margin: 20px;
}
.qiye-content-left {
    padding: 20px 0;
    overflow: hidden;
}
.select_box1{
    margin-bottom: 13px;
}
.select_box1 span {
    display: inline-block;
    width: 75px;
    padding-right: 5px;
    font-size: 16px;
    line-height: 30px;
    float: left;
    text-align: right;
}
.select_box1 input {
    width: 255px;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border-radius: 5px;
    background: #F3F3F3;
    border: 1px solid #D9D9D9;
}
.select_box1 .input_txt{
    background: white;
}

.select_box1 .qiye-shenqing-btn{
    height: 34px;
    width: 270px;
    margin-left: 80px;
    line-height: 34px;
    border: none;
    font-size: 13px;
    color: white;
    background-image: url(../images/bg_btn.png);
}
.select_box1 .select_ele{
    width: 130px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
.select_box1 .select_ele1{
    width: 272px;
}

#text_box{
    width: 253px;
    padding: 3px 8px;
    height: 104px;
    resize: none;
    border-radius: 5px;
}
/*企业定制服务e*/

/*客户见证模块s*/
.swiper-container1{
    width: 1200px;
    overflow: hidden;
    position: relative;
    margin-top: 28px;
}
.swiper-container1 .swiper-button-prev,.swiper-container1 .swiper-container-rtl .swiper-button-next {
    background-image: url(../images/you.png);
    left: 800px;
    right: auto;
}
.swiper-container1 .swiper-button-next, .swiper-container1 .swiper-container-rtl .swiper-button-prev {
    background-image: url(../images/zuopng.png);
    right: 10px;
    left: auto;
}
.kehu_module{
    width: 100%;
    height: 300px;
    background:url("../images/beijing-heng.png");
    margin-bottom: 30px;
    overflow: hidden;
}
.kehu_module_box{
    font-size: 16px;
    float: left;
    position: relative;
    /* padding-top: 30px ; */
    /* margin: 30px 20px; */
}
.kehu-left{
    overflow: hidden;
    width: 730px;
    margin-top: 50px;
}
.kehu-right img{
    width: 210px;
    height: 272px;
    margin-left: 148px;
}
.biaodian{
    width: 50px;
    height: 24px;
    line-height: 48px;
    font-size: 50px;
    text-align: center;
}
.kehu_pingjia{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
.kehu-name{
    font-size:36px ;
    color: #23A936;
    margin-right: 56px;
    font-weight: bold;
}
.green_name{
    color: #23A936;
}
/*客户见证模块e*/

/*新闻资讯模块s*/
.news_module{
    padding-top: 30px;
    padding-bottom: 45px;
    overflow: hidden;
}
.news_l_title{
    font-size: 20px;
}
.news_video {
    width: 436px;
    height: 303px;
    margin: 25px 20px 0 0;
}
.video-box {
    width: 100%;
    height: 100%;
}
.news_r_title{
    display: inline-block;
    border-bottom: 2px solid #34b936;
    margin-bottom: -2px;
}
.new_title{
    font-size: 20px;
    border-bottom: 2px solid #DADADA;
}
.news_more{
    font-size: 14px;
    color: #DADADA;
    float: right;
}
.lists ul li b{
    float: left;
}
.con1, .con2{

    height: 340px;
    overflow: hidden;
    float: left;
    width: 100%;
}
.con1 ul, .con2 ul {
    padding: 5px;
    overflow: hidden;
    height: 348px;
    color: #43B936;
}
.con1 ul li, .con2 ul li {
    /* background: url(images/point.png) no-repeat left center; */
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    color: #252525;
    text-overflow: ellipsis;
}
.con1 ul li a, .con2 ul li a{
    text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    width: 290px;
    white-space: nowrap;
}
.lists ul li span {
    margin-left: -6px;
}
/*新闻资讯模块e*/

/*底部栏目s*/
.footer{
    width: 100%;
    background: #48464B;
}
.footer_box{
    padding: 50px 0  30px 0px;
    overflow: hidden;
}
.footer_ul{
    overflow: hidden;
    float: left;
}
.footer_ul li{
    float: left;
    padding-left: 18px;
    width: 80px;
}
.footer_title{
    font-size: 16px;
    color: white;
}
.footer_ul li div a{
    height: 30px;
    line-height: 30px;
    color: #CCCCCE;
    font-size: 14px;
}
.footer_erweima{
    float: left;
    text-align: center;
    margin-left: 45px;
}
.Friendship_link{
    width: 982px;
    padding: 0 18px;
    font-size: 14px;
    margin-bottom: 22px;
    overflow: hidden;
    height: 27px;
    position: relative;
    padding-left: 82px;
}
.Friendship_link_more{
    height: auto;
    white-space: normal;
}
.friend_a{
    left: 0;
    position: absolute;
    top: 3px;
    font-size: 14px;
    font-weight: 400;
    color: #CCCCCE;
}

.Friendship_link a {
    display: inline-block;
    margin: 2px 17px 0 0;
    width: 100px;
    color: #CCCCCE;
    overflow: hidden;
}

.Friendship_link .more-friend{
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    cursor: pointer;
    top: 6px;
    background: url('../images/bottom_1_03.png') center no-repeat;
    background-position: 0 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.Friendship_link_more .more-friend{
    background-position:-19px 0 ;
}
.erweima_ph{
    display: inline-block;
    vertical-align: middle;
}
.erweima_ph span{
    display: block;
    width: 80px;
    margin: 15px auto;
    color: white;
}
.footer_tel{
    margin-left: 76px;
    color: white;
    position: relative;
}
.footer_tel .quanguo{
    font-size: 16px;
}
.btn_lt{
    float: left;
    padding: 35px 0;
    overflow: hidden;
}
.btn_lt a{
    margin-right: 20px;
}
.shouhou_tel div{
    font-size: 16px;
    color: #CBCBCB;
}
.footer_mess{
    color: #CBCBCB;
    font-size: 14px;
    text-align: center;
}
.weixin_public{
    display: none;
    position: absolute;
    background: url(../images/blue-border.jpg) no-repeat;
    bottom: 84px;
    right: 71px;
    width: 87px;
    height: 128px;
    padding: 8px;
    text-align: center;
}
/*底部栏目e*/

/*右侧漂浮栏s*/
.MD-home-sidebar-sidebar {
    position: fixed;
    right: 10px;
    bottom: 0;
    height: 50px;
    background: #A8A8A8;
    overflow: hidden;
    z-index: 9;
}
.MD-home-sidebar-btn {
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-right: 1px solid white;
}

.MD-home-sidebar-active {
    background: #23C36B;
}
.MD-home-sidebar-btn:hover {
    background: #23C36B;
    color: white;
}
.MD-home-sidebar-free {
    width: 118px;
}
.MD-home-sidebar-app {
    width: 72px;
}
.MD-home-sidebar-public {
    width: 86px;
}
.MD-home-sidebar-phone-icon {
    width: 24px;
    height: 25px;
    display: inline-block;
    background: url('../images/icon1.png') no-repeat;
    margin-bottom: -5px;
    margin-right: 6px;
}
.MD-home-sidebar-app-icon {
    width: 25px;
    height: 30px;
    display: inline-block;
    background: url('../images/icon2.png') no-repeat;
    margin-bottom: -10px;
    margin-right: 3px;
}
.MD-home-sidebar-public-icon {
    width: 28px;
    height: 25px;
    display: inline-block;
    background: url('../images/icon3.png') no-repeat;
    margin-bottom: -5px;
    margin-right: 4px;
}
.MD-home-sidebar-toTop {
    width: 60px;
    border-right: 0;
}
.MD-home-sidebar-top-icon {
    width: 30px;
    height: 27px;
    display: inline-block;
    background: url(../images/icon4.png) no-repeat;
    margin-bottom: -7px;
    margin-right: 4px;
}
.MD-home-sidebar-free-show, .MD-home-sidebar-app-down, .MD-home-sidebar-public-number {
    display: none;
}
.MD-home-sidebar-show {
    display: block;
}
.MD-home-sidebar-time{
    padding-bottom:2px  ;
    bottom: 54px;
    right: 10px;
}
.MD-home-sidebar-free-phone {
    bottom: 60px;
    right: 10px;
    line-height: 34px;
    width: 300px;
    background: #23C36B;
    padding: 3px;
    margin: 19px auto;
}

.MD-home-sidebar-free-show,.MD-home-sidebar-time, .MD-home-sidebar-app-down, .MD-home-sidebar-public-number, .MD-home-sidebar-list-li,  .MD-home-sidebar-error, .MD-home-sidebar-free-code, .MD-home-sidebar-prompt {
    position: fixed;
    z-index: 99;
}
.MD-home-sidebar-ipt-box {
    width: 205px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-right: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
}
.MD-home-sidebar-free-btn {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    width: 60px;
}
.MD-home-sidebar-daojishi{
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.MD-home-sidebar-time-title{
    width: 339px;
    height: 55px;
    line-height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #23C36B;
}

.daojishi{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    display: block;
    margin:22px 0 5px 0 ;
}
.time_blue{
    color: #23C36B;
}
.MD-home-sidebar-free-phone a:hover{
    color: white;
}

.MD-home-sidebar-app-down {
     background: white;
    right: 11px;
    bottom: 60px;
    width: 333px;
    height: 242px;
    border: 2px solid #23C36B;
    text-align: center;
}
.MD-home-sidebar-app-close {
    position: absolute;
    right: 4px;
    top: 3px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}
.MD-home-erweima_box{
    overflow: hidden;
    margin: 26px 0;
}
.MD-home-erweima_box .MD-home-erweima_cont{
    float: left;
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.MD-home-erweima_box .MD-home-erweima_cont img{
    margin: 0 auto;
}
.font_16{
    font-size: 16px;
    font-weight: bold;
}

.MD-home-sidebar-public-number {
    background: url(../images/blue-border.jpg) no-repeat;
    bottom: 60px;
    right: 60px;
    width: 87px;
    height: 128px;
    padding: 8px;
    text-align: center;
}
.MD-home-sidebar-pub-code {
    width: 86px;
    height: 86px;
}
.MD-home-sidebar-red-txt {
    display: block;
    font-size: 12px;
    color: #23C36B;
    margin: 0px 0;
    text-align: center;
}
.MD-home-sidebar-txt {
    font-size: 12px;
    color: #585858;
}
/*右侧漂浮栏e*/

/*****************************缴社保********************************/
.jsb_banner{
    position: relative;
    text-align: center;
    background: #374362;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1FD79B), color-stop(100%, #1A97C7));
    background: -webkit-linear-gradient(-45deg, #1FD79B 0%, #1A97C7 100%);
    background: -webkit-linear-gradient(315deg, #1FD79B 0%, #1A97C7 100%);
    background: linear-gradient(135deg, #1FD79B 0%, #1A97C7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1FD79B ', endColorstr='#1A97C7',GradientType=1 );
}
.banner_box{
    height: 100%;
    z-index: 100;
    position: relative;
}
.jsb_banner .banner_fontsize1{
    font-size: 46px;
    color: white;
    padding-top: 135px;
}
.banner_animal{
    position: absolute;
    height: 500px;
    width: 1200px;
    top: 0;
    z-index: -1;
}
.banner_fontsize1 span{
    font-size: 62px;
    margin: 0 6px;
    color: #FFDD00;
}
.banner_list span{
    font-size: 18px;
    margin:45px 6px 70px;
    display: inline-block;
    color: white;
}
.banner_btn a{
    display: inline-block;
    width: 356px;
    height: 54px;
    background: #FFDD00;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
/*content*/
.jsb_why_box_l ul{
    overflow: hidden;
}
.jiaoshebao_box{
    background: #F7F7F7;
}
.jsb_why_box{
    overflow: hidden;
}
.jsb_content{
    text-align: center;
}
.jsb_content .jsb_title{
    display: inline-block;
    font-size: 48px;
    color: #02214c;
    margin-top: 110px;
    font-weight: 100;
    margin-bottom: 100px;
}
.jsb_why_box_l{
    width: 750px;
    float: left;
    overflow: hidden;
    padding-bottom: 100px;
}
.jsb_why_box_r{
    width:450px;
    float: right;
    overflow: hidden;
}
.jsb_why_box_l ul li{
    float: left;
    padding-left: 40px;
    margin-bottom: 30px;
}

.jsb_icon{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-right: 18px;
    position: relative;
    box-sizing: border-box;
    float: left;
    border: 2px solid #e1e1e1;
    background: url("../images/jsb_icon1.png") no-repeat;
}

.jsb_icon p{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0px solid #e1e1e1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.jsb_icon:hover p {
    border: 2px dashed #298FDB;
    animation: myfirst .5s linear infinite;
    -moz-animation: myfirst .5s linear infinite;
    -webkit-animation: myfirst .5s linear infinite;
    -o-animation: myfirst .5s linear infinite;
}
.jsb_icon_select:hover p{
    border: 2px dashed #DB5B4B;
}

@keyframes myfirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes  myfirst{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-ms-keyframes myfirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes myfirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes myfirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.jsb_icon2{
    background-position: -78px 0;
}
.jsb_icon3{
    background-position: -156px 0;
}
.jsb_icon4{
    background-position: -234px 0;
}
.jsb_icon5{
    background-position: -312px 0;
}
.jsb_icon6{
    background-position: -390px 0;
}
.jsb_icon7{
    background-position: -468px 0;
}
.jsb_icon8{
    background-position: -545px 0;
}
.jsb_icon9{
    background-position:  0 -78px;
}
.jsb_icon10{
    background-position:  -80px -80px;
}
.jsb_icon11{
    background-position: -154px -82px;
}
.jsb_icon12{
    background-position:  -238px -80px;
}
.jsb_icon13{
    background-position: -315px -83px;
}
.jsb_icon14{
    background-position: -390px -82px;
}
.jsb_icon_r{
    text-align: left;
    color: #969595;
    font-size: 15px;
    overflow: hidden;
}
.jsb_icon_r div{
    width: 190px;
    font-size: 14px;
    display: inline-block;
}
.jsb_icon_r span{
    font-size: 22px;
    color: #282828;
    display: inline-block;
    width: 138px;
}

.sjb_liucheng .liucheng_box{
    overflow: hidden;
    display: none;
}
.sjb_liucheng .show{
    display: block;
}
.sjb_liucheng ul li{
    width: 14.2%;
    float: left;
}
.jsb_lc_icon{
    width: 64px;
    height: 73px;
    margin: 0 auto;
    background: red;
    background:url("../images/jsb_icon.png") no-repeat;
}
.jsb_lc_icon_1{
    background-position: -18px -119px;
}
.jsb_lc_icon_2{
    background-position: -82px -119px;
}
.jsb_lc_icon_3{
    background-position: -146px -119px;
}
.jsb_lc_icon_4{
    background-position: -210px -119px;
}
.jsb_lc_circle{
    width: 144px;
    height: 144px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    margin: 35px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    transition: all .2s ease-in;
}
.jsb_lc_circle:hover {
    -webkit-transform: rotate(360deg) scale(1.1,1.1);
    -moz-transform: rotate(360deg) scale(1.1,1.1);
    -ms-transform: rotate(360deg) scale(1.1,1.1);
    -o-transform: rotate(360deg) scale(1.1,1.1);
    transform: rotate(360deg) scale(1.1,1.1);
}
.jsb_lc_circle_pub{
    width: 80px;
    height: 80px;
    margin: 32px auto;
    background:url("../images/jsb_icon.png") no-repeat;
}
.jsb_lc_circle_1{
    background-position: -10px -219px;
}
.jsb_lc_circle_2{
    background-position: -83px -219px;
}
.jsb_lc_circle_3{
    width: 79px;
    background-position: -220px -220px;
}
.jsb_lc_circle_3_1{
    width: 60px;
    background-position: -154px -220px;
}
.jsb_lc_circle_3_2{
    width: 78px;
    background-position: -299px -220px;
}
.jsb_lc_circle_4{
    background-position: -376px -213px;
}
.sjb_liucheng ul li span{
    font-size: 18px;
    color: #5e5e5e;
}

.buy_1, .free-btn_1 {
    width: 260px;
    height: 52px;
    font-size: 18px;
    text-align: center;
    border-radius: 27px;
    border: 1px solid #CCCCCC;
    line-height: 44px;
    background: white;
    color: #24C26D;
    margin:85px 10px 80px;
}
.jsb_lc_btn_box .change{
    background-image: url(../images/bg_btn.png);
    color: white;
}

.icon_box .icon11 {
    margin: 100px 0;
}
.margin_t142{
    margin-top: 142px;
}
/*******************************************增值服务****************************************************/
.zzfw-banner{
    background: red;
    text-align: center;
}
.zzfw-banner .banner_fontsize1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 135px;
    color: #30CA94;
}
.zzfw-banner .banner_list span{
    font-size: 24px;
    margin: 29px 6px 60px;
    color: #30CA94;
}
.zzfw-banner .banner_list span b{
    font-size: 38px;
}
.zzfw-banner .banner_btn a{
    border-radius: 28px;
    width: 190px;
}
.zzfw-content-box .zzfw-ul{
    overflow: hidden;
}
.zzfw-content-box .zzfw-ul .zzfw-li{
    width: 100%;
    height: 284px;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    margin: 30px auto;
}
.zzfw-content-box .zzfw-ul .zzfw-li .zzfw-left{
    float: left;
    background: black;
    height: 100%;
    width:360px;
    text-align: center;
    color: white;
}
.zzfw-left span{
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin: 85px 0 28px;
}
.zzfw-left div{
    font-size: 26px;
}
.zzfw-right{
    width: 795px;
    height: 230px;
    position: relative;
    float: left;
    padding: 32px 16px 20px 26px;
    background: blue;
}
.zzfw-r-title{
    font-size: 18px;
}
.zzfw-r-ul {
    overflow: hidden;
    width:750px ;
}
.zzfw-r-ul li{
    height: 30px;
    float: left;
    line-height: 30px;
    color: #CCCCCC;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding: 6px 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.zzfw-btn{

  position: absolute;
    bottom: 20px;
    right: 20px;
}
.zzfw-btn .zzfw-a{
    font-size: 15px;
    display: inline-block;
    width: 162px;
    height: 42px;
    color: white;
    border-radius: 3px;
    line-height: 42px;
    margin-right: 15px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.zzfw-btn .show{
    border: none;
    background-image: url(../images/bg_btn.png);
}


/******************************登录页面**********************************************/
.login_banner{
    height: 600px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #39D1CD), color-stop(100%, #355966));
    background: -webkit-linear-gradient(-45deg, #39D1CD 0%, #355966 100%);
    background: -webkit-linear-gradient(315deg, #39D1CD 0%, #355966 100%);
    background: linear-gradient(135deg, #39D1CD 0%, #355966 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39D1CD ', endColorstr='#355966',GradientType=1 );
}
.banner_animal_1{
    height: 600px;
    width: 100%;
    z-index: 0;
}
.login_l{
    float: left;
    margin-top: 230px;
}
.login_r{
    float: right;
    width: 394px;
    height: 448px;
    margin-top: 76px;
    background: white;
}
.login_top{
    height: 50px;
    font-size: 19px;
    margin-bottom: 35px;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
}
.login_top div{
    float: left;
    margin: 15px 40px 0;
}
.login_top .login_tit{
    width: 100px;
    cursor: pointer;
}
.login_top .login_tit:hover{
    color: #2cca6f;
}
.login_top  .change{
    color: #2cca6f;
}
.login_top i {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 98px;
    height: 4px;
    background-color: #2cca6f;
}
.login_content{
    display: none;
    padding: 0 35px;
}
.login_r .show{
    display: block;
}
.login_item{
    overflow: hidden;

    margin-bottom: 22px;
}
.login_item input{
    width: 293px;
    font-size: 14px;
    padding:12px;
    height: 14px;
}
.login_item_yzm input{
    width: 126px;
    float: left;
}
.login_item_yzm div{
    float: right;
    height: 40px;
    border: 1px solid #2cca6f;
}
.login_item_yzm div img{
    display: inline-block;
    width: 150px;
    height: 100%;
    cursor: pointer;
}
.login_f{
    float: right;
    margin-top: 3px;
    margin-bottom: 20px;
}
.login_f a{
    color: #666666;
    font-size: 14px;
    text-align: right;
}
.login_f a:hover{
    color: #2cca6f;
}
.login_btn{
    margin-bottom: 20px;
}
.login_btn a{
    display: inline-block;
    width: 317px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: white;
    text-align: center;
    background-image: url(../images/bg_btn.png);
}
.login_bottom {
    text-align: left;
}
.login_bottom a{
    color: #4A86E8;
}

/*******************************注册页面****************************************/
.login_item_yzm  .register_yzm{
    border: none;
    width: 150px;
    height: 42px;
    color: white;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    background-image: url(../images/bg_btn.png);
}

.ui-dialog{

    width: 947px;
    position: fixed;
    z-index: 10000;
    display: none;
    overflow: hidden;
    top: 50%;
    left: 50%;
    border: 4px solid rgba(0,0,0,.1);
    border: 4px solid #ccc\9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ui-dialog-title {
    position: relative;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    background: #f3f3f3;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
}
.ui-dialog-close {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 100000;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 13px;
    height: 13px;
    background: url(../images/close.png) no-repeat;
    font-size: 0;
    background-size: 13px 13px;
}
.ui-dialog-content {
    padding: 10px;
    background: #fff;
    height: 545px;
    width: 927px;
    overflow: hidden;
}

.protocol-con {
    height: 426px;
    padding: 10px;
    line-height: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 25px;
}
.protocol-button button {
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 54px;
    color: #fff;
    background: #e22;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.ui-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.4;
    background: black;
    /* -webkit-transition: all 0.3s; */
    /*-moz-transition: all 0.3s;*/
    /* transition: all 0.3s; */
}
/*******************************************个人/企业账号找回****************************************/
.login_tit1{
    cursor: pointer;
    font-size: 16px;
}

.login_top .login_tit1{
    margin: 15px 30px 0;
}

/*******************************************个人/企业账号重置密码****************************************/
.login_tit1{
    color: #2cca6f;
    width:130px;font-size: 16px;
    margin: 20px auto;
    display: inline-block;
}



/***************************************帮助中心*******************************************************/
.help_banner{
    height: 300px;
}
.crumbs{
    padding: 20px 0;
    font-size: 14px;
}
.crumbs a {
    color: #666;
}
.crumbs span {
    color: #666;
}
.help_content{
    overflow: hidden;
    padding-top: 20px;
    min-height: 600px;
}
.help_left{
    width: 180px;
}
.help_img{
    display: flex;
}
.help_img img{
    display: inline-block;
    /* width: 100%; */
    height: 79px;
}
.helt_nav {
    overflow: hidden;
}
.helt_nav li{
  background: white;
    /* line-height: 54px; */
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.helt_nav li a{
    display: inline-block;
    font-size: 15px;
    padding: 16px 60px;

}
.helt_nav li a:hover{

    color: #2cca6f;
}
.helt_nav .change a{
    background: url("../images/help_nav_bg.png") no-repeat;
    color:#2cca6f ;
}

.help_center_ul li{
    width: 590px;
    height: 128px;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 3px;
    background: white;
    color: #7c7c7c;
    padding: 30px 20px 28px;
    box-shadow: 1px 2px 8px #999;
}

.help_center_ul li .help_title{
    font-size: 20px;
    display: block;
    color: black;
}
.help_center_ul li .help_title:hover{
    color: #22ab38;
}
.help_zhaiyao{
    display: inline-block;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;    //显示的行数
    overflow:hidden;
    width:580px ;
    line-height: 30px;
    overflow: hidden;
    height: 60px;
    text-overflow:ellipsis;
}
.help_time{
    float: right;
    margin-top: 10px;
}
.help_time img{
    display: inline-block;
    margin-right: 6px;

}
.hele_page{
    margin: 30px;
  text-align: center;
}
.hele_page ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;

}

.hele_page ul.pagination li {display: inline;}

.hele_page ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.hele_page ul.pagination li a.active {
    background-color: #2CCA6F;
    color: white;
    border: 1px solid #2CCA6F;
}

.hele_page ul.pagination li a:hover:not(.active) {background-color: #ddd;}


.help_right{
    margin-left: 30px;
    width: 320px;
    min-height: 800px;
    padding-top: 18px;
}
.help_hot_top{
    font-size: 18px;
    color: #666666;
    position: relative;
    line-height: 36px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom:30px;
}
.help_hot_top i{
    border: 1px solid #2CCA6F;
    position: absolute;
    width: 64px;
    bottom: -1px;
    left: 0px;
}
.help_hot_center{
    overflow: hidden;
}
.help_hot_center li{
    font-size: 15px;
    color: #666666;
    height: 40px;
    overflow: hidden;
}
.help_hot_center li a{
    display: inline-block;
    width: 220px;
    -webkit-box-orient:vertical;
    overflow:hidden;
    float: left;
    text-overflow:ellipsis;
}
.help_hot_center li span{
    float: right;
}
.help_hot_bootom{
    width: 100%;
    height: 270px;
    margin-top: 30px;
    background: red;
}
/****************************新闻资讯中心*************************************/
.jiangtang_title{
    border-bottom: 2px solid #DADADA;
    height: 42px;
    margin-top: 50px;
    line-height: 42px;
}
.jiangtang_title span{
    width: 144px;
    height: 42px;
    display: inline-block;
    text-indent:1em;
    background: url("../images/jt-bg1.png") no-repeat;
    font-size: 22px;
    line-height: 42px;
    color: white;
}
.jiangtang_title1 span{
    width: 165px;
    background: url("../images/jt-bg2.png") no-repeat;
}
.xinwen_more{
    float: right;
    font-size:16px;
    color: #ABABAF;
}
.jt_box{
    padding-top: 20px;
    overflow: hidden;
    /*position:  relative;*/
}
.jt_left{
    width: 650px;
    height: 420px;
    float: left;
    /*position: absolute;*/
     overflow: hidden;
}
.jt_left .swiper-slide img{
    width: 100%;
    height:420px;
}
.jt_title_bot .jt_title{
    position: absolute;
    bottom: 0;
    height:46px;
    width: 630px;
    padding: 0 10px;
    color: white;
    line-height: 46px;
    font-size: 20px;
    background:black;
    filter:alpha(Opacity=40);
    -moz-opacity:0.4;
    opacity: 0.4;
}
.jt_title_bot .jt_title a{
    color: white;
}
.swiper-container-horizontal>.jt_boot{
    display: inline-block;
    width: 50%;
    right: 0;
    bottom: 15px;
}

.jt_right{
    float: left;
    overflow: hidden;
    width: 510px;
    padding:0 20px;
}
.jt_right ul li {
    border-bottom: 1px solid #dadada;
    overflow: hidden;
}
.jt_right ul li .jt_top{
    overflow: hidden;
    margin-top: 10px;
}
.jt_right ul li a{
    font-size: 20px;
    color: #515151;
    float: left;
}
.jt_right ul li a:hover{
    color:#22AB39 ;
}
.jt_right ul li span{
    float: right;
    margin-top: 10px;
    color: #a4a3a3;
}
.jt_right ul li .jt_content{
    font-size:14px;
    color: #7c7c7c;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 500px;
    line-height: 22px;
    overflow: hidden;
    height: 44px;
    margin: 10px 0px;
    text-overflow: ellipsis;
}
.sbwenda {
    padding:30px 20px;
}
.sbwenda .sbwenda_ul{
    overflow: hidden;
}
.sbwenda .sbwenda_ul li{
   font-size: 16px;
   color:#3a3a3a;
   width: 550px;
    float: left;
   padding: 0 15px;
   height: 50px;
   line-height: 50px;
}
.sbwenda .sbwenda_ul li img{
    display: inline-block;
    vertical-align: middle;

}
.sbwenda .sbwenda_ul li span{
    font-size: 14px;
    color: #a4a3a3;
    float: right;
}
.ad-box{
    width: 100%;
    height:125px;
}
.zixun_module{
    overflow: hidden;
}
.sb-zixun{
    width: 380px;
    float: left;
    margin-right: 30px;
}
.zixun-box{
    width: 380px;
    height: 190px;
    position: relative;
}
.zixun-box img{
    height: 190px;
    width: 100%;
}
.zixun-box .zixun_title{
    position: absolute;
    bottom: 0;
    height: 26px;
    width: 360px;
    padding: 0 10px;
    color: white;
    line-height: 26px;
    font-size: 14px;
    background:black;
    filter:alpha(Opacity=40);-moz-opacity:0.4;opacity: 0.4;
}
.zixun-box .zixun_title a{
    color: white;
}
.zixun-box .zixun_title a:hover{
    color:#22AB39 ;
}
.zixun-box .zixun_title span{
    float: right;
}
.sb-zixun .sbwenda{
    padding: 30px 0;
}
.sb-zixun .sbwenda .sbwenda_ul li{
    width: 100%;
    padding:0;
}
.sb-zixun .sbwenda .sbwenda_ul li a{
    width: 210px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
}
/**************************************活动公告栏目********************************************************/
.sbcs_search {
    width: 630px;
    height: 45px;
    margin: 20px  0 20px 30px;
    _border: none;
}

.sbcs_input {
    float: left;
    border: none;
    width: 530px;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    line-height: 50px;
    text-indent: 0.5em;
}
.select_city{
    display: inline-block;
    float: left;
    width: 105px;
    height: 50px;
     padding: 5px;
    font-size: 20px;
    color: #6B6B6B;
    margin-right: 44px;
    border: none;
    text-align: center;
}
.select_city option{
    
}
.sbcs_button {
    float: left;
    width: 100px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background: url(../images/sousuo.png) no-repeat;
    background-size: 100px 54px;
    height: 50px;
}
.huodong_left{
    width: 213px;
    height: 128px;
    background: red;
    float: left;
}
.huodong_left img{
    width: 213px;
    height: 28px;
}
.huodong_right{
    float: right;
    width: 360px;
}
.huodong_right .help_zhaiyao{
    width: 360px;
}

.huodong_right .help_time{
    float: right;
}
.kuaijie-btn{
    text-align: center;
}
.kuaijie-btn a{
    display: inline-block;
    width: 260px;
    height: 58px;
    font-size: 20px;
    border-radius: 28px;
    line-height: 58px;
    text-align: center;
    color: #2CCA6F;
    border: 1px solid #CCCCCC;
    margin-top: 20px ;
}

/*********************************新闻详情页*******************************************/
.help_content .sect{
    float: left;
    display: block;
    width: 830px;
}

.help_content .sect h1,.help_content .sect h2 {
    font-size: 24px;
    text-align: center;
    color: #636363;
}

.time-and-author {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #a3a3a3;
}
.time-and-author a{
    color: #a3a3a3;
}
.text-content {
    word-wrap: break-word;
}
.help_content .sect i {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
}


.xq_nav {
    font-size: 14px;
    color: #6b6b6b;
    position: relative;
    height: 25px;
    margin: 18px 0;
}

.xq_nav .last {
    position: absolute;
    left: 0;
    top: 0;
    /* text-align: left; */
    cursor: pointer;
}

 .xq_nav .next {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.declaration {
    color: #a3a3a3;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    line-height: 24px;
}
.qrcode{
    text-align: center;
    margin-bottom: 40px;
}
.qrcode-content {
    text-align: center;
    display: inline-block;
    margin:  20px 20px;
}

.qrcode-content img {
    display: block;
    margin: 0 auto;
}
.qrcode-content p {
    font-size: 14px;
    color: #636363;
    display: block;
    margin: 10px;
    text-align: center;
}
.hot-tag{
    padding:40px 30px;
    border-bottom: 1px solid #CCCCCC;
}


/***************************************新闻搜索页 详情********************************************************/
.news_search_box{
    width: 1000px;
}
.news_search{
    width: 100%;
}
.news_input{
    width: 870px;
}
.search_num{
    margin:10px 0;
    overflow: hidden;
    text-align: right;
    width: 100%;
    font-size: 16px;
}
.search_num span{
    color: #2CCA6F;
}

.news_search_ul  li{
    width: 928px;
}
.news_zhaiyao{
    width: 900px;
}
.news_nav li{
    border-bottom: 1px solid #EEECEC;
}
.news_nav li a{
    display: inline-block;
    height: 41px;
    padding: 0;
    width: 100%;
    padding-top: 14px;
    line-height: 18px;
}

.news_nav li a span{
    color: #2FC84D;
}
/*****************************新闻搜索空***********************************/
.search_none_box{
    width: 100%;
    margin: 100px 0 200px;
    text-align: center;
    /*display: table-cell;*/
}
.search_none_box img{
    display: inline-block;
}
.content_font{
    font-size: 18px;
    margin: 10px auto 30px;
    color: #8A8A8A;
}

/********************************企业服务********************************************/
.qiyefuwu_box ul{
    overflow: hidden;
}
.qiyefuwu_box ul li{
    float: left;
    width: 33.3%;
    height: 330px;
    margin-bottom:40px ;
}
.qiyefuwu_box ul .qy_first_li{
    text-align: left;
}
.qiyefuwu_box ul .qy_secend_li{
    text-align: right;
}
.qiyefuwu_box ul li img{
    margin-bottom: 15px;
}
.qiyefuwu_box ul li span{
    display: inline-block;
    width: 200px;
    font-size: 14px;
    line-height: 28px;
    color: #969696;
}





























